MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=tradingbot
MYSQL_USER=user
MYSQL_PASSWORD=password

ENCRYPTION_KEY=""
# use 
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
# to generate a key

# ML Model 
MODEL_CHECKPOINT_PATH=../model-dev/training/best_qqq_model